*::after {
    content: none;
    display: none;
}

:root {
    --primary-color: #5c1111;
    --secondary-color: #ffffff;
    --background-color: rgba(255, 255, 255, 0.8);
    --text-color: #000000;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/tonga.webp');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 40px;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 4.5em;
    margin: 0;
}

.weather-svg {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1em;
    margin-top: auto;
}

footer p {
    margin: 5px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 150px 10%;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
}

.info-box,
.weather-box {
    width: 45%;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.info-box h2,
.weather-box h2 {
    color: var(--secondary-color);
    font-size: 2.5em;
    margin: 0 0 10px 0;
    position: relative;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.weather-box {
    margin-top: 400px;
}

.weather-emoticon {
    display: inline;
}

@media (min-width: 769px) {
    .weather-emoticon {
        display: none;
    }

    .weather-svg {
        display: inline;
    }

    .weather-box h2::before {
        display: none;
    }
}

@media (max-width: 768px) {
    body {
        background-image: url('../images/tonga-small.webp');
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
    }

    .container {
        flex-direction: column;
        padding: 20px;
    }

    .info-box,
    .weather-box {
        width: 90%;
        margin: 10px auto;
    }

    .weather-svg {
        display: none;
    }

    header h1 {
        font-size: 2.5em;
    }

    footer {
        font-size: 0.9em;
        padding: 10px;
    }

    .weather-emoticon {
        display: inline;
    }
}

.fallback-image {
    display: none;
}

picture img {
    display: none;
}

@media (max-width: 768px) {
    picture img[src="images/tonga-small.webp"] {
        display: block;
    }
}

@media (min-width: 769px) {
    picture img[src="images/tonga.webp"] {
        display: block;
    }
}
